html
{
  font-size: 16px;
}

body
{
  font-size: 16px;
}

/*修改 scroll 整理架構*/
html::-webkit-scrollbar
{
  width: 10px;
  background-color: #bfbfbf;
}

/*修改 scroll 捲軸*/
html::-webkit-scrollbar-thumb
{
  width: 10px;
  background-color: #5f5f5f;
  border-radius: 5px;
}

/*修改 scroll 卷軸*/
html::-webkit-scrollbar-track
{
  width: 10px;
  background-color: #bfbfbf;
}

/*top 框架*/
#top
{
  padding: 15px 15px;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#top .row
{
  margin-left: auto;
  margin-right: auto;
}

#top .row::after
{
  content: "";
  display: table;
  clear: both;
}

#top .row .cs-col
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#top .row .cs-col .card a
{
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

#top .row .cs-col .card a.CShool
{
  color: #5f5f5f;
}

#top .row .cs-col .card span.com
{
  color: #00bfff;
}

#top .row .cs-col .card a:hover
{
  color: #00bfff;
}

@media screen and (min-width: 320px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*功能選單*/
#menu
{
  top: 0;
  position: sticky;
  z-index: 999;
  letter-spacing: 2px;
}

#menu ul.level1
{
  background-color: #5f5f5f;
}

#menu ul.level1 li
{
  display: inline-block;
}

#menu ul.level1 li.logo
{
  display: none;
}

#menu ul.level1 li.more
{
  display: none;
}

#menu ul.level1 li a
{
  display: block;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

#menu ul.level1 li.main
{
  background-color: #00bfff;
}

#menu ul.level1 li a:hover
{
  background-color: #000000;
  transition: 1s;
}

@media screen and (min-width: 320px)
{
  #menu ul.level1 li.more
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: inline-block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 576px)
{
  #menu ul.level1 li.more
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: inline-block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  #menu ul.level1 li.more
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: inline-block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 992px)
{
  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.more
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px)
{
  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.more
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

/*教程目錄 menu*/
#Tutorial
{
  top: 136px;
  position: fixed;
  background-color: #f2f2f2;
  width: 25%;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

/*modify all scroll*/
#Tutorial::-webkit-scrollbar
{
  width: 10px;
  background-color: #d9d9d9;
}

/*修改捲籌顏色*/
#Tutorial::-webkit-scrollbar-track
{
	background-color: #bfbfbf;
}

/*修改滾動軸顏色*/
#Tutorial::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #5f5f5f;
}

#Tutorial .row
{
  margin-left: auto;
  margin-right: auto;
}

#Tutorial .row::after
{
  content: "";
  display: table;
  clear: both;
}

#Tutorial .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-bottom: 20px; */
}

#Tutorial .row .cs-col .card
{
  margin: 0px;
}

#Tutorial .row .cs-col .card.align_right
{
  text-align: right;
}

#Tutorial .row .cs-col .card span.close
{
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

#Tutorial .row .cs-col .card span.close:hover
{
  background-color: #bfbfbf;
}

#Tutorial .row .cs-col .card span.close:active
{
  background-color: #bfbfbf;
}

#Tutorial .row .cs-col .card h2.title
{
  margin-top: 15px;
  padding: 10px 20px;
  font-weight: 900;
}

#Tutorial .row .cs-col .card a
{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
}

#Tutorial .row .cs-col .card a:hover
{
  background-color: #bfbfbf;
  transition: 0.5s;
}

#Tutorial .row .cs-col .card a:active
{
  background-color: #00bfff;
}

@media screen and (min-width: 320px)
{
  #Tutorial
  {
    display: none;
    width: 75%;
    bottom: 0;
  }

  #Tutorial .row .cs-col .card span.close
  {
    display: inline-block;
  }

  #Tutorial .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #Tutorial
  {
    display: none;
    width: 75%;
  }
  
  #Tutorial .row .cs-col .card span.close
  {
    display: inline-block;
  }

  #Tutorial .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #Tutorial
  {
    display: none;
    width: 50%;
  }

  #Tutorial .row .cs-col .card span.close
  {
    display: inline-block;
  }

  #Tutorial .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #Tutorial
  {
    display: block;
    width: 25%;
  }

  #Tutorial .row .cs-col .card span.close
  {
    display: none;
  }

  #Tutorial .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #Tutorial
  {
    display: block;
    width: 25%;
  }

  #Tutorial .row .cs-col .card span.close
  {
    display: none;
  }

  #Tutorial .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*文章內容*/
#Tutorial_content
{
  margin-left: 25%;
  width: 75%;
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 2;
}

#Tutorial_content .row::after
{
  content: "";
  display: table;
  clear: both;
}

#Tutorial_content .row
{
  margin-left: auto;
  margin-right: auto;
}

#Tutorial_content .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#Tutorial_content .row .cs-col .card
{
  margin: 0px 10px;
}

#Tutorial_content .row .cs-col .card h1.title
{
  color: #00bfff;
  font-weight: 900;
  padding: 0px 15px;
  margin-left: -10px;
}

#Tutorial_content .row .cs-col .card a.previous
{
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
  font-weight: 900;
}

#Tutorial_content .row .cs-col .card a.next
{
  float: right;
  text-decoration: none;
  padding: 10px 15px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
  font-weight: 900;
}

#Tutorial_content .row .cs-col a.previous:hover
{
  background-color: #00bfff;
  color: #ffffff;
  border: 1px solid #00bfff;
  box-shadow: 2.5px 2.5px 2.5px #d9d9d9;
  transition: 0.5s;
}

#Tutorial_content .row .cs-col a.next:hover
{
  background-color: #00bfff;
  color: #ffffff;
  border: 1px solid #00bfff;
  box-shadow: 2.5px 2.5px 2.5px #d9d9d9;
  transition: 0.5s;
}

#Tutorial_content .row .cs-col a.previous:active
{
  background-color: #00bfff;
  border: 1px solid #00bfff;
}

#Tutorial_content .row .cs-col .card a.next:active
{
  background-color: #00bfff;
  border: 1px solid #00bfff;
}

#Tutorial_content .row .cs-col ul li a.new_Conn:hover
{
  color: #00bfff;
}

#Tutorial_content .row .cs-col ul li
{
  list-style: disc;
  margin-left: 30px;
}

#Tutorial_content .row .cs-col ol li
{
  list-style: decimal;
  margin-left: 30px;
}

#Tutorial_content .row .cs-col table tbody tr
{
  border: 1px solid #f2f2f2;
}

#Tutorial_content .row .cs-col table tbody tr td, th
{
  padding: 10px;
  word-break: break-all;
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  padding: 15px 0px;
}

#contact .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#contact .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#contact .container .row::after
{
  display: table;
  content: "";
  clear: both;
}

#contact .container .row .cs-col
{
  float:left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#contact .container .row .cs-col .card
{
  margin: 0px 10px;
  text-align: center;
}

#contact .container .row .cs-col .card h2.title
{
  color: #bfbfbf;
}

#contact .container .row .cs-col .card a img
{
  width: 40px;
  margin: 2px;
  display: inline-block;
}

#contact .container .row .cs-col .card p.copyright
{
  color: #bfbfbf;
}

@media screen and (min-width: 320px)
{
  #Tutorial_content
  {
    margin-left: 0%;
    width: 100%;
  }

  #Tutorial_content .row .cs-col.sm12
  {
    width: 100%;
  }

  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 568px)
{
  #Tutorial_content
  {
    margin-left: 0%;
    width: 100%;
  }

  #Tutorial_content .container .row .cs-col.sm12
  {
    width: 100%;
  }

  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #Tutorial_content
  {
    margin-left: 0%;
    width: 100%;
  }

  #Tutorial_content .container .row .cs-col.md12
  {
    width: 100%;
  }

  #contact .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #Tutorial_content
  {
    margin-left: 25%;
    width: 75%;
  }

  #Tutorial_content .container .row .cs-col.lg12
  {
    width: 100%;
  }

  #contact .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #Tutorial_content
  {
    margin-left: 25%;
    width: 75%;
  }

  #Tutorial_content .container .row .cs-col.xl12
  {
    width: 100%;
  }

  #contact .container .row .cs-col.xl12
  {
    width: 100%;
  }
}