/*使用者登入*/
#uname
{
  background-color: #000000;
  text-align: right;
  font-size: 18px;
  letter-spacing: 1px;
}

#uname span.username
{
  color: #ffffff;
  
}

#uname a
{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

#uname a:hover
{
  color: #000000;
  background-color: #ffff00;
  transition: 1s;
}

/*開頭標提*/
#top
{
  background-color:  #ffffff;
  padding: 10px;
}

#top span.CShool a
{
  color: #5f5f5f;
  font-size: 40px;
  text-decoration: none;
}

#top span.com a
{
  color: #00bfff;
  font-size: 40px;
  text-decoration: none;
}

#top span.content
{
  float: right;
  margin-top: 35px;
}

#top span.bottom
{
  font-size: 30px;
  color: #404040;
}

#top span.CShool a:hover
{
  color: #00bfff;
}

/*第二大框架*/
#container1
{
  margin: 15px auto;
  padding: 0px;
  overflow: hidden;
  display: block;
}

/*將第二框架內外間距調 0*/
#container1 .con-scope
{
  margin: 0px;
  padding: 0px;
}

/*工具選項 css調整*/
#container1 .box-tool
{
  margin: 15px auto;
  padding: 0px;
}

#container1 .box-tool .con-ac
{
  border: 1px solid #bfbfbf;
  max-width: 1126.690rem;
  width: 1126.690px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#container1 .box-tool .con-ac a
{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  background-color: #e6e6e6;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 10px;
}

#container1 .box-tool .con-ac a:hover
{
  background-color: #cccccc;
}

/*會員清單 css 調整*/
#container1 .con-user-list
{
  height: 1000px;
  min-height: 580px;
  border: 1px solid #bfbfbf;
  margin: 0 auto;
  max-width: 1136.690rem;
  width: 1136.690px;
}

#container1 .con-list-acX
{
  border-right: 1px solid #bfbfbf;
  padding: 0;
  position: absolute;
  display: block;
  width: 203.969px;
}

#container1 .con-list-acX .con-user-listX
{
  overflow-y: scroll;
  width: 100%;
  height: 1000px;
}

#container1 .con-list-acX a
{
  text-decoration: none;
  display: block;
  padding: 5px;
}

#container1 .con-list-acX span.box-u
{
  color: #000000;
}

#container1 .con-list-acX .box-a
{
  color: #5f5f5f;
}

#container1 .con-list-acX h2
{
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

#container1 .con-list-acX a
{
  text-decoration: none;
  display: block;
  padding: 5px;
}

#container1 .con-list-acX span.box-u
{
  color: #000000;
}

#container1 .con-list-acX a:hover
{
  background-color: #d9d9d9;
}

/*觀看會員資料建立 css 調整*/
#container1 .con-all-user-date
{
  width: 81.99%;
  height: 100%;
  min-height: 600px;
  position: relative;
  float: right;
  padding: 0px;
  margin: 0px;
}

/*基本資料 css 調整*/
#container1 .con-all-user-date .con-basic
{
  background-color: #e6e6e6;
  border-bottom: 1px solid #bfbfbf;
}

#container1 .con-all-user-date .con-basic .con-basic-date
{
  width: 100%;
  height: 50px;
  line-height: 50px;
  height: 50px;
}

#container1 .con-all-user-date .con-basic .con-basic-date span.basic
{
  display: inline-block;
  margin-left: 20px;
  border-bottom: 2px solid #00bfff;
  color: #00bfff;
  font-size: 18px;
}

#container1 .con-all-user-date .con-basic .con-basic-date a
{
  float: right;
}

#container1 .con-all-user-date .con-basic .con-basic-date img
{
  width: 35px;
  padding: 0px;
}

/*觀看會員資料 css 調整*/
#container1 .con-all-user-date .con-user
{
  margin: 0px;
  padding: 0px;
  height: 890px;
  border-bottom: 1px solid #bfbfbf;
}

#container1 .con-all-user-date .con-user .con-user-date
{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#container1 .con-all-user-date .con-user .con-user-date .contents
{
  padding: 15px 10px;
}

#container1 .con-all-user-date .con-user .con-user-date span.con-title
{
  display: inline-block;
  width: 150px;
  font-size: 16px;
}

#container1 .con-all-user-date .con-user .con-user-date input.article-content
{
  border: 1px solid #00bfff;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}

#container1 .con-all-user-date .con-user .con-user-date .sub_section select
{
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  width: 420px;
}

#container1 .con-all-user-date .con-user .con-user-date .sub_section option
{
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px;
  display: block;
}

#container1 .con-all-user-date .con-user .con-user-date .ch_title input
{
  border: 1px solid #00bfff;
  border-radius: 5px;
  padding: 8px;
  width: 570px;
}

#container1 .con-all-user-date .con-user .con-user-date .publish label
{
  display: inline-block;
  cursor: pointer;
  width: 100px;
}

/*儲存資料或離開 css 調整*/
#container1 .con-tool
{
  width: 100%;
  height: 58px;
  background-color: #e6e6e6;
}

#container1 .con-tool .con-button
{
  padding-top: 14px;
}

#container1 .con-tool .con-button button
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px 30px 6px 30px;
  border: 0px solid;
  border-radius: 5px;
  color: #ffffff;
}

#container1 .con-tool .con-button a
{
  text-decoration: none;
  color: #ffffff;
}

#container1 .con-tool .con-button button
{
  cursor: pointer;
}

#container1 .con-tool .con-button button.con-button-blue
{
  background-color: #00bfff;
}

#container1 .con-tool .con-button button.con-button-gray
{
  background-color: #8c8c8c;
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

#contact h2.title
{
  color: #bfbfbf;
  padding: 10px;
}

#contact img
{
  width: 40px;
  padding: 2px;
}

#contact p
{
  color: #bfbfbf;
  padding: 10px;
}