/*功能選單*/
#menu
{
  top: 0px;
  position:sticky;
  z-index: 999;
}

#menu ul
{
  background-color: #5f5f5f;
}

#menu ul.level1 li.menu_color
{
  background-color: #00bfff;
}

#menu ul.level1 a
{
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 15px;
}

#menu ul.level1 li
{
  display: inline-block;
}

#menu ul.level1 > li > a:hover
{
  background-color: #000000;
  transition: 1s;
}
