/* CSS Mini Reset */
@charset "UTF-8";

html, body, div, form, fieldset, legend, label,
h1 ,h2, h3, h4, h5, h6, span, p, button, input,
ul , li , th , td
{
 font-family: "微軟正黑體";
 margin: 0px;
 padding: 0px;
}

html::-webkit-scrollbar
{
  background-color: #d9d9d9;
  width: 5px;
}

html::-webkit-scrollbar-thumb
{
  background-color: #5f5f5f;
  width: 5px;
  border-radius: 5px;
}

ul , li
{
  list-style: none;
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
